<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>243789303415-t1dca5c3nngkuccqs8vu5b37fm0713r3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.243789303415-t1dca5c3nngkuccqs8vu5b37fm0713r3</string>
	<key>API_KEY</key>
	<string>AIzaSyDpA8E79wTHz1yCL4GEJF-taULvuMDQt-E</string>
	<key>GCM_SENDER_ID</key>
	<string>243789303415</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.makingapp.mynotes</string>
	<key>PROJECT_ID</key>
	<string>note-app-dart-flutter</string>
	<key>STORAGE_BUCKET</key>
	<string>note-app-dart-flutter.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:243789303415:ios:d5926158b7377aa5290072</string>
</dict>
</plist>